<html>
    <head>
<title>Ficha Tecnica Web</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="{{ asset('bundles/proyectotecnico/css/bootstrap.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/proyectotecnico/css/bootstrap-responsive.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mos-css/mos-style.css') }}">
    </head>
    
<div id="header">
	<div class="encabezadoReporte">  
	
        </div>
</div>


{% block body %}{% endblock %}
    
<div id="footer">
	<br>Camara de Diputados de la Provincia del Chaco
        <br> Direccion de Comunicaciones
        <br> José María Paz 170
</div>