<pdf>
    <dynamic-page>
    <h1>Detalles Ingreso</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Actuacion Simple</th>
                <td>{{ entity.actuacionSimple }}</td>
            </tr>
        </tbody>
    </table>

    </dynamic-page>
</pdf>